* {
    box-sizing: border-box;
    padding: 0;
}

body{
    background-image: url('jaguar-xe.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.container{
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    margin: 65px;
}

h1{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 700;
    text-align: justify;
}

p{
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: start;
    font-weight: 400;
}

a{
    background-color:  #DB3030;
    font-family:'Roboto', sans-serif;
    font-weight: 700;
    padding: 10px 28px;
    font-size: 1rem;
    color: white;
    border: none;
    text-decoration: none;
}

